body {
    background-color: white;
    font-family: sans-serif;
}

/* My first header */
header {
    background-color: blue;
    font-family: sans-serif;
}
/* This is my contact me and others in the header */
a{
    color: black;
}

/* Helped me moved them into a row but not to the right at the moment */
/* Padding to move them to the left a bit and not touching the side of the screen */
nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 0px 10px;
}

/* This is my Header title and my links */
h1{
    color: white;
     font-size: 30px;
     border: 10px;
     background-color: blueviolet;
     margin: 0px;
     padding: 0px;

}

/* This is Header of About me */
h3{
    font-family: sans-serif;
    color: white;
    margin-bottom: 0px;
    padding: 5px;
    height: 50px;
    background-color: blue;
    font-size:50px;
    display: flex;
    margin: 10px;

}


/* This is the Header of My contact */
h6
{
    font-family: sans-serif;
    color: white;
    margin-bottom: 0px;
    padding: 5px;
    height: 50px;
    background-color: blue;
    font-size:50px;
    display: flex;
    margin: 10px;
}

/* Making a vertical line */
.vi {
   display: inline-block;
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    margin-left: 150px;
    top: 0;
} 
/* P is for my phargraph for all my text */
p{
    color: black;
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
    text-align: center;
   margin-left: 300px;

}

/* This is for Keegan */
section{
    background-color: gray;
    width: 120px;
    border: 0px solid green;
    padding: 10px;
    margin: 0px;
}

/* This is for my work area */
h4 {
    font-size: 25px;
    color: white;
    background-color: blue;
    padding: 10px;
    margin-bottom: 0px;
    height: 20px;

}


/* Made a footer and put the postion of it here */
footer{
    padding: 700px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
}

/* Here is the footer font size */
footer h5{
    font-size: 30px;
}

/* I made boxes around my text  */
.container{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    
}


    
    
